body,html{
    margin:0;
    height: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    color:#000000;
}
.img1{
    background-image: url('./images/image/desktop-wallpaper-3d-of-lake-and-moon-background-best-beautiful-moon-beautiful-nature-nature-blue-landscape-moon.jpg');
    min-height: 100%;
    
}
.img2{
    background-image: url('./images/image/2804807-landscape-nature-anime-trees-forest-path-sun-rays-dirt-road___landscape-nature-wallpapers.jpg');
    min-height: 400px;
}
.img3{
    background-image: url('./images/image/natural-beauty-beautiful-waterfall-drop-of-water-through-the-dense-green-bush-forming-river-tree-with-green-leaves-wallpaper-for-desktop-wallpaper-preview.jpg');
    min-height: 400px;
}
.img1,.img2,.img3{
    position: relative;
    background-position: center;
    opacity: 0.90;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.section{
    text-align: center;
    padding:20px 50px;

}
.section-style1{
    background-color: #ffffff;
    color:#000000;
}
.section-style2{
    background-color: #202121;
    color:#dddddd;

}
.txtimg{
    position:absolute;
    width:100%;
    top:50%;
    text-align: center;
    color:#ffffff;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 30px;
}
.txtimg .txtborder{
    background-color:#ffffff ;
    color:#000000;
    /* color:rgba(255,255,255,.4); */

    opacity:.80;
    padding: 25px;
}